<div class="main__container">
    <div class="wrapper">
        <div class="wrapper__content">
            <div class="content__header">
                <h1><img src="assets/logo_03.png" alt="JOHNNY1V"></h1>
                <p>LOOK YOUR BEST</p>
            </div>
            <div class="content__signup">
                <h2>SIGN UP NOW & <br>EARN UP TO <br> <span class="value">$150</span></h2>
            </div>
            <div class="content__form">
                <form action="#">
                    <input type="email" placeholder="Enter Email" class="email brandon">
                    <input class="submit brandon" name="commit" type="submit" value="LET DO THIS"/>
                </form>
            </div>
        </div>
    </div>    
</div>
