<div class="header">
    <div class="wrapper">
        <h1><img src="assets/logo_03.png" alt="JOHNNY1V"></h1>
        <p>THANK YOU FOR SIGNING UP</p>
    </div>
</div>
<div class="banner">
    <div class="wrapper">
        <div class="banner__header">
            <div class="header--left">
                <p class="circle"><span class='date'>Promotion <br> ends <br> 9.30.14</span></p>
            </div>
            <div class="header--right">
                <h3>Now invite your buddies <br>and earn up to <span>$150 JIV credit!</span></h3>
            </div>
        </div>
        <div class="banner__invite">
            <div class="invite--left">
                <p>Here’s your unique invite link:</p>
            </div>
            <div class="invite--right">
                <form action="#">
                    <input type="text" placeholder='http:../jonnyiv.erokuapp.com/?ref-d9f375dfc5'>
                </form>
            </div>
        </div>
        <div class="banner__share">
            <p>Share:</p>
            <ul class="social">
                <li><a href="#"></a></li>
                <li class="twitter"><a href="#"></a></li>
                <li class="messenger"><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <h2>Share and see what you get!</h2>
    </div>
    <div class="footer--full">
        <div class="footer__status">
            <div class="status__joined">
                <ul>
                    <li class="mess bottom">FRIENDS JOINED</li>
                    <li>
                        <p class="circle"><span>5</span></p>
                    </li>
                    <li>
                        <p class="circle"><span>10</span></p>
                    </li>
                    <li>
                        <p class="circle"><span>25</span></p>
                        <div class="abs">
                            <p>25 FRIENDS <br> = <br> $50</p>
                        </div>
                    </li>
                    <li>
                        <p class="circle"><span>50</span></p>
                    </li>
                </ul>
            </div>
            <div class="progress">
                <span class="meter" style='width:12%'></span>
            </div>
            <div class="status__credit">
                <ul>
                    <li class="mess">$CREDIT</li>
                    <li><span>$5</span></li>
                    <li><span>$15</span></li>
                    <li><span>$50</span></li>
                    <li><span>$150</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <p><span class='num'>No</span> friends have joined... Yet! <br> Keep Checking</p>
    </div>
</div>