/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

h1 { width: 200px; height: 40px; margin: 0px auto; margin-bottom: 16px; }

h2 { font: 400 24px "BrandonGrotesque",sans-serif; }

h3 { font: 400 30px "MyriadPro",sans-serif; }
h3 span { color: #2001db; }

ul { list-style: none; }

img { width: 100%; height: auto; }

.circle { border-radius: 50%; }

.header { background: #000; min-height: 100px; padding-top: 10px; color: white; }

.wrapper { max-width: 60%; margin-left: auto; margin-right: auto; text-align: center; }
.wrapper:after { content: " "; display: block; clear: both; }

.banner { min-height: 325px; background: url(../assets/banner_02.jpg) no-repeat; background-size: cover; padding-top: 50px; padding-bottom: 50px; }

.footer { min-height: 325px; padding: 30px 0px 60px 0px; }

.banner__header .header--left { width: 20%; float: left; }
.banner__header .header--left .circle { width: 100px; height: 100px; border: 1px solid white; background: white; text-align: center; display: table; }
.banner__header .header--left .circle span { display: table-cell; vertical-align: middle; }
.banner__header .header--right { width: 55%; float: left; margin-right: 5.26316%; padding-top: 20px; }
.banner__header:after { content: ''; display: table; clear: both; }

.banner__invite { padding-top: 50px; }
.banner__invite .invite--left { width: 25%; float: left; margin-right: 5.26316%; margin-left: 100px; text-align: right; }
.banner__invite .invite--left p { font: 15px "ProximaNova",sans-serif; padding-top: 5px; }
.banner__invite .invite--right { width: 50%; float: left; margin-right: 5.26316%; }
.banner__invite form { text-align: left; }
.banner__invite input { width: 350px; height: 18px; padding: 5px 20px; }
.banner__invite:after { content: ''; display: table; clear: both; }

.banner__share { padding-top: 45px; }
.banner__share p { width: 25%; float: left; margin-right: 5.26316%; margin-left: 100px; text-align: right; padding-top: 5px; }
.banner__share .social { width: 50%; float: left; margin-right: 5.26316%; text-align: left; }
.banner__share .social li { display: inline-block; width: 35px; height: 28px; background: url(/assets/soc_03.png); background-size: cover; margin-left: 15px; }
.banner__share .social li a { display: block; width: 35px; height: 28px; }
.banner__share .social li:first-child { margin-left: 0px; }
.banner__share .social .twitter { background-position: 87px; }
.banner__share .social .messenger { background-position: 37px; }

.progress { background-color: #f6f6f6; height: 1.38889rem; border: 1px solid white; padding: 0.11111rem; margin-bottom: 0.55556rem; }
.progress .meter { background: #2001db; height: 100%; display: block; }

.footer--full { max-width: 92%; margin-left: auto; margin-right: auto; padding: 48px 0px; }
.footer--full:after { content: " "; display: block; clear: both; }
.footer--full .status__joined li, .footer--full .status__credit li { width: 18.36735%; float: left; margin-right: 2.04082%; position: relative; }
.footer--full .status__joined li:last-child, .footer--full .status__credit li:last-child { margin-right: 0px; }
.footer--full .status__joined .abs, .footer--full .status__credit .abs { position: absolute; width: 160px; background-color: black; height: 75px; bottom: 130%; right: 41%; border: 1px solid #2001db; color: white; text-align: center; padding-top: 25px; display: block; }
.footer--full .status__joined .abs p, .footer--full .status__credit .abs p { font: 700 18px "BrandonGrotesque",sans-serif; }
.footer--full .status__joined:after, .footer--full .status__credit:after { content: ''; display: table; clear: both; }
.footer--full .status__joined .mess, .footer--full .status__credit .mess { font: 700 13px "BrandonGrotesque",sans-serif; }
.footer--full .status__joined .bottom, .footer--full .status__credit .bottom { padding-top: 5px; }
.footer--full .status__joined .circle, .footer--full .status__credit .circle { width: 30px; height: 30px; border: 2px solid #2001db; text-align: center; display: table; }
.footer--full .status__joined .circle span, .footer--full .status__credit .circle span { display: table-cell; vertical-align: middle; }

.prase { font: 700 12px "BrandonGrotesque",sans-serif; }
.prase .num { color: #2001db; }
